@media screen and (min-width:800px){
.grid {
    border:1px solid black;
    margin-left: 9%;
    margin-right: 9%;
    width:'fit-content';
    
  }
}
.grid
{
    border:1px solid black;
    width:'fit-content';
    margin-left: 8%;
    margin-right: 8%;
    background-color:rgb(209, 209, 216);;
}