@media screen and (min-width:800px){
.grid {
    margin: 100px;
    width:fit-content;
    background-color:rgb(209, 209, 216);;
  }
}
.grid
{
    width:fit-content;
    height:fit-content;
    background-color:rgb(209, 209, 216);;
}